.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
/documents/
docs/
inst/joss_paper/*.pdf
inst/joss_paper/*.log
inst/rmd/results_report.tex
rsconnect/
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
misc

# Report files
**/*_files/
**/*_cache/*
inst/qmd/*.html*
inst/qmd/*.pdf
inst/rmd/*.pdf

# But not the clim_files!
!clim_files
